body {
	margin: 0;
	padding-left: 30%;
    box-sizing: border-box;
	font-family: 'Notable', sans-serif;
    font-weight: 400;
    align-content: center;
    color: antiquewhite;
    background-color: rgb(8, 8, 8);
}

